body,
html {
  height: 100%;
}
body {
  margin: 0px;
  background: grey;
  font-size: 18px;
  background-image: url("https://d2r55xnwy6nx47.cloudfront.net/uploads/2020/03/UniverseShape_LedeFullWidth.jpg");
  background-repeat: no-repeat;
  background-size: 2700px 1400px;
}
body,
a:link,
a:visited,
a:active {
  color: lightblue;
}
.title,
.addDancerButton {
  padding: 5px 12px;
  float: right;
}
.addNewDancerButton {
  padding: 5px 12px;
  float: right;
}
.topbar {
  height: 32px;
  background-color: #555;
}
.title {
  background-color: #777;
}
/* .dancer {
  background-image: url("/img/star.png");
  content: url("https://banner2.cleanpng.com/20180205/dhe/kisspng-line-symmetry-angle-white-pattern-christmas-gold-star-png-image-5a789167ae57e8.0797758215178509837141.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
} */
.dancer {
  border: 10px solid red;
  border-radius: 10px;
  position: absolute;
}
.dancer:hover {
  top: 40px;
  left: 60px;
}

/* .newdancer {
  background-image: url("https://pngimg.com/uploads/football/football_PNG52781.png");
  height: 150px;
  width: 150px;
  position: absolute;
} */

.newdancer {
  border: 10px solid blue;
  border-radius: 10px;
  position: absolute;
}
.lineUp {
  padding: 5px 12px;
  float: right;
}
